<ul class="breadcrumb">
  <li> <%= link_to "Home", root_path %>  <span class="divider">/</span></li>
  <li class="active"><%= @todolist.title %></li>
</ul>

<h1><%= @todolist.title %> <small>Todo Liste</small></h1>


<div class="enter_todo">

  <%= form_for(@todoitem) do |f| %>
    <%= f.hidden_field :todolist_id, :value => @todolist.id %>
    <div class="field">
      <%= f.text_field :text, :autofocus => "autofocus" %>
    </div>
    <div class="actions">
      <%= f.submit :value => "Eintragen" %>
    </div>
  <% end %>

</div>

<div class="todo_list">
  <%= form_for(@todolist) do |f| %>

    <% i=0 %>
    <%= f.fields_for :todoitems do |f2| %>
      
      <div class="<%= f2.object.done ? "is_done" : "is_not_done" %>">
        <%= f2.check_box :done %>
        <label for="todolist_todoitems_attributes_<%= i %>_done">
          <%= f2.object.text %>
        </label>
      </div>

       <% i+=1 %>
    <% end %>
    <%= f.submit :value => "Speichern" %>
  <% end %>
</div>  


