<!DOCTYPE html>
<html>
<head>
  <title>Todo-Liste mit jQuery und Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span2">
        <!--Left Sidebar content-->
      </div>
      <div class="span8">

        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">&#215;</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>

        <%= yield %>
        <footer>
          <p>
            Built with
            <a href="http://twitter.github.io/bootstrap/">bootstrap</a>
          </p>
        </footer>
      </div>
      <div class="span2">
        <!--Right Sidebar content-->
      </div>
    </div>
  </div>

</body>
</html>
